<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
</head>
<body>
<label th:if="${not testBoolean} "><label th:text="${name}"></label></label>


<div id="vue_det">
    <h1>site : {{hahah}}</h1>
    <h1>url : {{url}}</h1>
    <h1>{{details()}}</h1>
</div>

</body>
</html>


<script type="text/javascript">
    var vm = new Vue({
        el: '#vue_det',
        data: {
            hahah : "天气挺好",
            url: "www.runoob.com",
            alexa: "10000"
        },
        methods: {
            details: function() {
                return  this.hahah + " - 加油加油";
            }
        }
    })
</script>


